<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e177e3">  <td>21/07/28 17:04:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Frame.Test1_WaybillCreationAndCollectionTest(java.lang.String, java.lang.String)[pri:1, instance:Test_Regression.Frame@6eda5c9]">Test1_WaybillCreationAndCollectionTest</td> 
  <td>main@489349054</td>   <td></td> </tr>
<tr bgcolor="e177e3">  <td>21/07/28 17:04:05</td>   <td>-33643</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Frame.beforeloginTest(java.lang.String, java.lang.String)[pri:0, instance:Test_Regression.Frame@6eda5c9]">&gt;&gt;beforeloginTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@489349054</td>   <td></td> </tr>
</table>
