<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>Test_Regression.Waybill_Creation</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Test3_WaybillCreationAndCollectionTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Test5_WaybillCreationAndCollectionTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Test6_WaybillCreationAndCollectionTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Test1_WaybillCreationAndCollectionTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Test4_WaybillCreationAndCollectionTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Test2_WaybillCreationAndCollectionTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeloginTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>logOutTest</td>
<td>&nbsp;</td></tr>
</table>
