<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>AFCS_Automation</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="86dec2">  <td>21/06/01 14:23:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Waybill_Creation.Test1_WaybillCreationAndCollectionTest(java.lang.String, java.lang.String)[pri:1, instance:Test_Regression.Waybill_Creation@670b40af]">Test1_WaybillCreationAndCollectionTest</td> 
  <td>main@1884122755</td>   <td></td> </tr>
<tr bgcolor="86dec2">  <td>21/06/01 14:23:14</td>   <td>4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Waybill_Creation.Test2_WaybillCreationAndCollectionTest(java.lang.String, java.lang.String)[pri:2, instance:Test_Regression.Waybill_Creation@670b40af]">Test2_WaybillCreationAndCollectionTest</td> 
  <td>main@1884122755</td>   <td></td> </tr>
<tr bgcolor="86dec2">  <td>21/06/01 14:23:14</td>   <td>6</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Waybill_Creation.Test3_WaybillCreationAndCollectionTest(java.lang.String, java.lang.String)[pri:3, instance:Test_Regression.Waybill_Creation@670b40af]">Test3_WaybillCreationAndCollectionTest</td> 
  <td>main@1884122755</td>   <td></td> </tr>
<tr bgcolor="86dec2">  <td>21/06/01 14:23:14</td>   <td>8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Waybill_Creation.Test4_WaybillCreationAndCollectionTest(java.lang.String, java.lang.String)[pri:4, instance:Test_Regression.Waybill_Creation@670b40af]">Test4_WaybillCreationAndCollectionTest</td> 
  <td>main@1884122755</td>   <td></td> </tr>
<tr bgcolor="86dec2">  <td>21/06/01 14:23:14</td>   <td>10</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Waybill_Creation.Test5_WaybillCreationAndCollectionTest(java.lang.String, java.lang.String)[pri:5, instance:Test_Regression.Waybill_Creation@670b40af]">Test5_WaybillCreationAndCollectionTest</td> 
  <td>main@1884122755</td>   <td></td> </tr>
<tr bgcolor="86dec2">  <td>21/06/01 14:23:14</td>   <td>12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Waybill_Creation.Test6_WaybillCreationAndCollectionTest(java.lang.String, java.lang.String)[pri:6, instance:Test_Regression.Waybill_Creation@670b40af]">Test6_WaybillCreationAndCollectionTest</td> 
  <td>main@1884122755</td>   <td></td> </tr>
<tr bgcolor="86dec2">  <td>21/06/01 14:22:59</td>   <td>-15094</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Waybill_Creation.beforeloginTest(java.lang.String, java.lang.String)[pri:0, instance:Test_Regression.Waybill_Creation@670b40af]">&gt;&gt;beforeloginTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1884122755</td>   <td></td> </tr>
</table>
